// colors
$primary: #ef6c00; // orange [800]
$off-black: rgba(69, 69, 69, 0.228);
$off-white: rgb(230, 230, 230);
$gray: #424242;
$light-gray: rgba(45, 45, 45, 0.523);

// font-weight
$bold-text: 600 !important;

// font family
$logo-font: 'Poppins';