// colors
$primary: #ef6c00; // orange [800]
$off-black: rgba(69, 69, 69, 0.228);
$off-white: rgb(230, 230, 230);
$gray: #424242;

// font-weight
$bold-text: 600 !important;

// font family
$logo-font: 'Poppins';