.step1{
    background-color: #fff;
    width: 80%;

    // step1 form
    &__form--wrap{
        align-items: center;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    &__form{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 90px;
        padding-top: 90px;
        width: 80%;

        &--input--wrap{
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin-left: 80px;
            margin-bottom: 50px;
            position: relative;
            width: 100%;

        }
        &--label{
            color: black;
            font-weight: 600 !important;
        }
        &--input--container{
            align-items: center;
            border: solid 1px rgb(230, 230, 230);
            border-radius: 5px;
            display: flex;
            margin-left: 20px;
            justify-content: flex-start;
            outline: none;
            padding: 24px 16px;
            position: relative;
            width: 60%;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            
            &::placeholder{
                color: rgba(69, 69, 69, 0.228);
                font-size: 1.2rem;
                font-weight: 600;
                text-align: left;
            }
        }
        &--input{
            border: none;
            font-size: 1.2rem;
            font-weight: 600;
            margin-left: 25px;
            outline: none;
            overflow: hidden;
            width: 60%;
            &--placeholder{
                color: rgba(69, 69, 69, 0.228);
                font-size: 1.2rem;
                font-weight: 600;
                border-right: solid 1px rgba(69, 69, 69, 0.228);
                padding-right: 25px;
                margin: 0;
                text-align: left;
            }
            
        }

        &--select--wrap{
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin-left: 80px;
            width: 100%;
        }
        &--select{
            font-size: 2rem;
            margin-left: 60px;
            border: solid 1px rgb(230, 230, 230);
            border-radius: 5px;
            padding-left: 10px;
            padding-right: 10px;
            &--text{
                font-size: 1.2rem;
                font-weight: 600;
                &--span{
                    color: rgba(69, 69, 69, 0.228);
                }
            }
            &--btn{
                border-bottom: none !important;
                &:active{
                    border-bottom: none !important;
                }
            }
        }
    }
}