.confirmationPage{
    @include applyFlex(center,center);
    padding-top: 75px;
    overflow: hidden;
    position: relative;
    width: 100%;
    
    &__container{
        @include applyFlex(flex-start, flex-start);
        background-color: #fff;
        border-radius: 5px;
        height: 80vh; // ! substitute for padding later
        // padding-bottom: 50px;
        position: relative;
        width: 80%;
    }

    &__error{
        padding: 0;
        margin: 0;
        margin-top: 10px;
        font-size: .85rem;
        color: #ff3d00;
    }

    // # event styles
    &__event{
        border-right: solid 1px $off-black;
        height: 100%;
        padding: 12px 16px;
        width: 35%;
        &--btn{
            background: none;
            border: none;
            border-radius: 100px !important;
            color: $primary !important;
            outline: none;
        }
        &--username{
            color: $light-gray !important;
            margin-top: 30px !important;
            font-weight: 400 !important;
        }
        &--eventname{
            color: $gray;
            font-weight: 600 !important;
            margin-bottom: 10px !important;
        }
        &--duration{
            @include applyFlex(center, flex-start);
            color: $light-gray !important;
            margin-bottom: 10px !important;
        }
        &--location{
            @include applyFlex(center, flex-start);
            color: $light-gray !important;
            margin-bottom: 10px !important;
        }
        &--date{
            @include applyFlex(center, flex-start);
            color: $primary !important;
        }
    }

    &__form{
        height: 100%;
        padding-left: 35px;
        padding-top: 35px;
        width: 65%;
        &--input{
            width: 100%;
            margin-bottom: 25px;
            &--label{
                font-size: .85rem !important;
                margin-top: 10px !important;
                margin-bottom: 10px !important;
                width: 75%;
            }
            &--name,
            &--location,
            &--textarea{
                background: none;
                border: none;
                border: solid 1px $off-black;
                outline: none;
                padding: 16px 16px;
                width: 60%;
            }
        }
        &--submit{
            background-color: $primary !important;
            color: whitesmoke !important;
            padding: 12px 16px !important;
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .confirmationPage{
        overflow: none;
        padding-top: 0;
        padding-bottom: 0;
        &__container{
            @include applyFlex(flex-start, flex-start, column);
            overflow-x: hidden;
            overflow-y: hidden;
            padding-top: 0px;
            padding-bottom: 40px;
            height: 120vh;
            width: 100%;
        }
        &__form{
            height: 100%;
            padding-top: 30px;
            padding-bottom: 40px;
            overflow-y: scroll;
            width: 100%;
            &--input{
                &--label{
                    width: 75%;
                }
            }
            &--header{
                display: none;
            }
            &--input{
                &--label{
                    margin-top: -10px !important;
                }
            }
        }
        &__event{
            @include applyFlex(center, center, column);
            border-bottom: solid 1px $off-black;
            height: 100%;
            padding: 0;
            position: relative;
            width: 100%;
            &--username{
                color: $light-gray !important;
                margin-top: 2px !important;
                font-weight: 400 !important;
            }
            &--btn{
                background: none;
                border: none;
                border-radius: 100px !important;
                color: $primary !important;
                outline: none;
                left: 10px !important;
                position: absolute !important;
                top: 10px !important;
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .confirmationPage{
        overflow: none;
        padding-top: 25px;
        padding-bottom: 25px;
        &__container{
            overflow-x: hidden;
            overflow-y: hidden;
            padding-top: 0px;
            padding-bottom: 40px;
            width: 90%;
        }
        &__form{
            height: 100%;
            padding-top: 30px;
            padding-bottom: 40px;
            overflow-y: scroll;
            &--header{
                display: none;
            }
            &--input{
                &--label{
                    margin-top: -10px !important;
                }
            }
        }
        &__event{
            height: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .confirmationPage{
        overflow: none;
        padding-top: 25px;
        padding-bottom: 25px;
        &__container{
            overflow-x: hidden;
            overflow-y: hidden;
            padding-top: 0px;
            padding-bottom: 40px;
            width: 90%;
        }
        &__form{
            height: 100%;
            padding-top: 30px;
            padding-bottom: 40px;
            overflow-y: scroll;
            &--header{
                display: none;
            }
            &--input{
                &--label{
                    margin-top: -10px !important;
                }
            }
        }
        &__event{
            height: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .confirmationPage{
        &__container{
            width: 90%;
        }
        &__form{
            &--header{
                display: none;
            }
            &--input{
                &--label{
                    margin-top: -10px !important;
                }
            }
        }
    }
}