.eventCard{
    background-color: #fff;
    position: relative;
    margin-bottom: 20px;
    transition: all .5s ease-out;
    width: 31%;
    &:hover{
        cursor: pointer;
    }

    &__col{
        width: 100%;
        &--settings{
            @include applyFlex(center, flex-end);
            padding: 12px 16px;
            position: relative !important;
            &--dropdown{
                border: solid 1px $off-black;
                position: absolute !important;
                top: 45px !important;
                right: -40px !important;
                width: 150px !important;
                z-index: 100;
                &--item{
                    @include applyFlex(center, space-between);
                    padding: 0 !important;
                    padding-left: 5px !important;
                    margin: 0 !important;
                    text-align: left;
                    width: 100%;
                }
                &--icon{
                    margin: 0 !important;
                    margin-right: 10px !important;
                    padding: 0 !important;
                }
            }
        }
        &--text{
            @include applyFlex(flex-start, center, column);
            border-bottom: solid 1px $off-white;
            padding-left: 15px;
            padding-bottom: 25px;
        }
        &--link{
            @include applyFlex(center, space-between);
            padding: 12px 16px;
        }
    }

    &__settings{
        color: rgba(45, 45, 45, 0.523) !important;
        &:hover{
            color: black !important;
            cursor: pointer;
        }
    }
    
    &__event{
        &--name{
            font-weight: $bold-text;
            padding: 12px 16px;
            &--span{
                color: rgba(45, 45, 45, 0.523);
                font-size: 1.2rem !important;
                font-weight: 400 !important;
            }
        }
        &--icon{
            display: flex;
        }
        &--btn{
            color: $primary !important;
            border: solid 1px $primary !important;
            padding: 6px 16px !important;
            transition: all .75s ease !important;
            &:hover{
                background-color: $primary !important;
                color: whitesmoke !important;
            }
        }
    }

}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .eventCard{
        width: 100%;
        &__col{
            &--settings{
                &--dropdown{
                    right: 0px !important;
                }
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 798.98px) {
    .eventCard{
        width: 100%;
        &__col{
            &--settings{
                &--dropdown{
                    right: 0px !important;
                }
            }
        }
    }
}