.header{
    @include applyFlex(center, center);
    background-color: #fff;
    width: 100%;

    &__container{
        @include applyFlex(center, space-between);
        padding: 16px 64px;
        width: 95%;
    }

    &__logo{
        margin-bottom: 20px;
        color: $primary;
        font-family: $logo-font !important;
        font-weight: $bold-text;

        &--span{
            color: black;
            font-weight: $bold-text;
        }
    }

    &__nav{
        @include applyFlex(center, space-evenly);
        width: 70%;

        &--link{
            color: black;
            padding: 12px 16px;
            position: relative;
            text-decoration: none;
            &::after{
                content: '';
                background-color: $primary;
                position: absolute;
                left: 0;
                height: 2%;
                bottom: 0;
                width: 0%;
                z-index: 2;
                transition: all .5s ease-out;
                -webkit-transition: all .5s ease-out;
                -moz-transition: all .5s ease-out;
                -ms-transition: all .5s ease-out;
                -o-transition: all .5s ease-out;
            }           
            &:hover::after{
                width: 100%;
            }
            &--upgrade{
                color: $primary;
                border-radius: 5px;
            }
            &--isActive{
                font-weight: bold;
            }
        }

        &--profile{
            @include applyFlex(center, center);
            position: relative;
            &--img{
                border-radius: 100px;
                height: 50px;
                width: 50px;
            }
            &--name{
                margin-left: 25px !important;
            }
        }

        &--logout{
            background-color: $primary;
            border: none;
            border-radius: 5px;
            color: white;
            font-size: 1rem;
            padding: 12px 16px;
            text-decoration: none;
            transition: all .5s ease;
            &:hover{
                cursor: pointer;
                background-color: #e65100;
            }
        }
    }

    &__mobile{
        display: none;
        &--col{
            background-color: red;
            width: 100%;
            &--settings{
                @include applyFlex(center, flex-end);
                padding: 12px 16px;
                position: relative !important;
                &--dropdown{
                    border: solid 1px $off-black;
                    position: absolute !important;
                    top: 70px !important;
                    right: 0px !important;
                    width: 200px !important;
                    z-index: 100;
                    &--item{
                        @include applyFlex(center, space-between);
                        font-size: .85rem !important;
                        padding: 0 !important;
                        margin: 0 !important;
                        text-align: left;
                        width: 100%;
                    }
                }
            }
            &--text{
                @include applyFlex(flex-start, center, column);
                border-bottom: solid 1px $off-white;
                padding-left: 15px;
                padding-bottom: 25px;
            }
            &--link{
                @include applyFlex(center, space-between);
                font-size: .85rem !important;
                padding: 12px 16px;
            }
        }
        &--nav{
            &--link{
                @include applyFlex(center, flex-start);
                color: black;
                padding-left: 15px;
                text-decoration: none;
                width: 100%;
                &--text{
                    margin-left: 5px;
                }
                &--logout{
                    background: none;
                    border: none;
                    border-top: solid 1px $primary;
                    font-size: .85rem !important;
                }
            }
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .header{
        &__container{
            padding: 8px 16px;
            width: 100%;            
        }
        &__nav{
            display: none;
        }
        &__mobile{
            display: block;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 998.98px) {
    .header{
        &__container{
            padding: 8px 32px;
        }
        &__nav{
            display: none;
        }
        &__mobile{
            display: block;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 999px) and (max-width: 1199.98px) {
    .header{
        &__container{
            padding: 16px 32px;
        }
        &__nav{
            width: 70%;
        }
    }
}