.integration{
    @include applyFlex(center, center, column);
    width: 100%;
    &__container{
        @include applyFlex(center, center);
        background-color: #fff;
        border-radius: 5px;
        flex-wrap: wrap;
        margin-top: 50px;
        padding: 12px 16px;
        width: 80%;
    }
    &__col{
        margin: 10px;
        width: 300px;
        &:hover{
            border: solid 1px $off-black;
            cursor: pointer;
        }
        &--img{
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
            &--i{
                height: 100px;
                width: 100px;
            }
        }
        &--title{
            text-align: center;
        }
        &--text{
            padding-top: 10px;
            padding-bottom: 25px;
            text-align: center;
            &--t{
                color: $light-gray;
            }
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .integration{
        padding-bottom: 50px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 1200px) {
    .integration{
        padding-bottom: 50px;
    }
}