.login{
    @include applyFlex(center, center, column);
    background-color: whitesmoke;
    height: 100vh;
    padding: 12px 16px;
    width: 100%;

    &__logo{
        padding-bottom: 20px;
        color: $primary;
        font-family: $logo-font !important;
        font-weight: $bold-text;
        &--span{
            color: black;
            font-weight: $bold-text;
        }
    }

    &__container{
        @include applyFlex(center, space-between, column);
        background-color: #fff;
        height: 450px;
        width: 450px;

        &--header{
            @include applyFlex(flex-end, center);
            height: 20%;
            padding-top: 50px;
            text-align: center;
            width: 100%;
        }

        &--footer{
            @include applyFlex(center, center);
            border-top: solid 1px rgb(216, 216, 216);
            height: 15%;
            text-align: center;
            width: 100%;

            &--text{
                color: $off-black;
                font-weight: 500 !important;
            }
        }

        &--col--link{
            color: $primary;
        }
    }

    &__title{
        color: black;
        font-weight: 500 !important;
    }

    &__btn{
        background-color: $primary !important;
        border-radius: 5px !important;
        color: whitesmoke !important;
        padding: 12px 12px !important;
        outline: none !important;
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .login{
        padding-top: 50px;
        padding-bottom: 25px;
        &__container{
            width: 90%;
        }
        &__title{
            font-size: 1.6rem !important;
        }
    }
}

