// step1 header
.stepHeader{
    @include applyFlex(center, space-around);
    border-bottom: solid 1px $off-white;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    
    &__title{
        font-weight: $bold-text;
        width: 35%;
    }

    &__bar{
        border-radius: 100px;
        background-color: $off-white;
        height: 12px;
        width: 40%;

        &--inner32,
        &--inner64,
        &--inner100{
            background-color: $primary;
            border-radius: 100px;
            height: 100%;
        }
        
        &--inner32{
            animation:  animateWidthTo32 .5s linear;
            transition: width .5s ease-out;
        }
        &--inner64{
            animation:  animateWidthTo64 .5s linear;
            transition: width .5s ease;
        }
        &--inner100{
            animation:  animateWidthTo100 .5s linear;
            transition: width .5s ease;
        }
    }
}

// width animations
@keyframes animateWidthTo32 {
    from {width: 0%;}
    to {width: 32%;}
}
@keyframes animateWidthTo64 {
    from {width: 32%;}
    to {width: 64%;}
}
@keyframes animateWidthTo100 {
    from {width: 64%;}
    to {width: 100%;}
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .stepHeader{
        @include applyFlex(center, center, column);
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
        
        &__title{
            margin-bottom: 10px !important;
            width: 85%;
        }
    
        &__bar{
            width: 80%;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .stepHeader{
        padding-top: 25px;
        padding-bottom: 25px;
    }
}