.profileSetup{
    @include applyFlex(center, center, column);
    background-color: whitesmoke;
    height: 100vh;
    
    &__logo{
        margin-bottom: 20px;
        &--main{
            color: $primary;
            font-weight: $bold-text;
        }
        &--span{
            color: black;
            font-weight: $bold-text;
        }
    }
}