.step2{
    background-color: #fff;
    width: 80%;

    &__content{
        @include applyFlex(center, center, column);
        width: 100%;

        &--title{
            font-weight: $bold-text;
        }

        &--text{
            padding-left: 50px;
            &--span{
                font-weight: $bold-text;
            }
        }
    }

    &__content--title--wrap{
        @include applyFlex(flex-start, space-between);
        border-bottom: solid 1px $off-white;
        padding-bottom: 45px;
        padding-top: 45px;
        width: 80%;
    }

    &__content--text--wrap{
        @include applyFlex(flex-start, space-between);
        border-bottom: solid 1px $off-white;
        padding-bottom: 30px;
        padding-top: 30px;
        width: 80%;

        &--last{
            margin-bottom: 60px;
        }
    }
}