// step1 header
.stepHeader{
    @include applyFlex(center, space-around);
    border-bottom: solid 1px $off-white;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    
    &__title{
        font-weight: $bold-text;
        width: 35%;
    }

    &__bar{
        border-radius: 100px;
        background-color: $off-white;
        height: 12px;
        width: 40%;
        
        // progress bar inner        
        &--inner{
            background-color: $primary;
            border-radius: 100px;
            height: 100%;
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .stepHeader{
        @include applyFlex(center, center, column);
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
        
        &__title{
            margin-bottom: 10px !important;
            width: 85%;
        }
    
        &__bar{
            width: 80%;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .stepHeader{
        padding-top: 25px;
        padding-bottom: 25px;
    }
}