.subNavigation{
    @include applyFlex(center, center);
    width: 100%;

    &__container{
        @include applyFlex(flex-start, flex-end, column);
        padding-top: 40px;
        padding-bottom: 15px;
        width: 80%;
    }

    &__title{
        font-weight: $bold-text;
        margin-bottom: 30px !important;
    }

    &__nav{
        width: 100%;
        &--link{
            color: black;
            font-weight: $bold-text;
            padding: 8px 10px;
            text-align: center;
            text-decoration: none;
            width: 100%;
            &--right{
                margin-left: 25px;
            }
            &--isActive{
                color: $primary;
                border-bottom: solid 5px $primary;
            }
            &:hover{
                color: $primary;
                border-bottom: solid 5px $primary;
            }
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .subNavigation{
        &__container{
            width: 90%;
        }

        &__nav{
            &--link{
                font-size: .85rem !important;
                padding: 8px 10px;
                &--right{
                    margin-left: 15px;
                }
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 1199.98px) {
    .subNavigation{
        &__container{
            width: 90%;
        }
    }
}