[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = ""
psycopg2-binary = "*"
flask-testing = "*"
flask-restx = "*"
python-dotenv = "*"
google-auth = "*"
requests = "*"
pyjwt = "*"

google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"


[requires]
python_version = "3.7"
